<!DOCTYPE html>

<html>
   <head>
         <meta charset="UTF-8">
         <link rel="stylesheet" href="/static/css/welcome.css">

         <!-- The welcome struct (shown in the main.go code) is received within the HTML and we just need to use the . operator and retrieve the information we want -->
         <title>Welcome {{.Name}}</title>
   </head>
   <body>
      <div>
         <table class="welcome">
            <tr>
               <td>Author</td>
               <td>Title</td>
            </tr>
            {{ range $key, $value := .Data }}
            <tr>
               <td>{{ index $value 1}}</td>
               <td>{{ index $value 2}}</td>
            </tr>
            {{ end }}
         </table>
      </div>       
   </body>
</html>